<apex:page StandardController="Contact">
 <apex:pageBlock title="Contact Summary">
    <apex:pageBlockSection >
             

            First Name: {! Contact.FirstName } <br/>
            Last Name: {! Contact.LastName } <br/>

           Owner Email: {! Contact.Owner.Email } <br/>

           

             

      </apex:pageBlockSection>

    </apex:pageBlock>

 
 
</apex:page>